beautifulsoup4==4.8.2
certifi==2026.1.4
chardet==3.0.4
charset-normalizer==3.4.4
html5lib==1.0.1
idna==3.11
iotop==0.6
lxml==4.5.0
ply==3.11
pyinotify==0.9.6
python-apt==2.0.1+ubuntu0.20.4.1
PyYAML==5.3.1
regex==2023.8.8
requests==2.32.4
six==1.14.0
soupsieve==1.9.5
urllib3==2.2.3
webencodings==0.5.1
